<% provide(:title, "プロフィール") %>
<div class="container">
  <h3 class="title-profile">プロフィール</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="user-picture-box">
        <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
      </div>
    </div>
    <div class="col-md-8">
      <h4 class="show-user-name"><%= @user.name %></h4>
      <div>
        <%= @user.introduction %>
      </div>
      <div>
        <%= @user.media_url %>
      </div>
      <div>
        <%= @user.total_goal_profit %>
      </div>
      <% if current_user == @user %>
        <div class="account-edit"><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
      <% end %>
    </div>
  </div>
  <%= link_to "新規キーワード登録", new_keyword_path, class: "btn btn-primary btn-lg btn-record" %>
  <div class="row">
    <div class="col-md-12">
      <% if @user.keywords.any? %>
        <h3>キーワード (<%= @user.keywords.count %>)</h3>
        <div class="table-responsive">
　　      <table class="table table-condensed">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>キーワード</th>
                  <th>検索Vol</th>
                  <th>目標順位</th>
                  <th>想定流入数</th>
                  <th>想定CVR</th>
                  <th>想定平均単価</th>
                  <th>想定報酬額</th>
                  <th>メモ</th>
                </tr>
            </thead>
            <tbody>
              <% @keywords.each do |keyword| %>
              <tr>
                <td><%= keyword.id %></td>
                <th><%= keyword.query %></th>
                <td><%= keyword.volume %></td>
                <td><%= keyword.goal_rank %>位</td>
                <td><%= keyword.goal_pv %>PV</td>
                <th><%= keyword.goal_cvr %>%</th>
                <td><%= keyword.goal_price %>円</td>
                <td class="goal_profit" ><%= keyword.goal_profit %>円</td>
                <td><%= keyword.description %></td>
                <td><%= link_to "編集", edit_keyword_path(keyword.id), class: 'edit-keyword' %></td>　
                <td><%= link_to "削除", keyword_path(keyword.id), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %></td>
              </tr>
              <% end %>  
            </tbody>
　　      </table>
        </div>
        <%= will_paginate @keywords %>
      <% end %>
    </div>
  </div>
</div>